html,
body {
	height: 100%;
	font-family: 'Silkscreen', sans-serif;
}
h1 {
	margin: auto;
	text-align: center;
	font-size: 1.3rem;
	padding-bottom: 0.5%;
}

.wrapper {
	height: 90%;
	width: 45%;
	margin: auto;
	background: #3c486b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	border: 1px solid #f9d949;
	box-shadow: 0px 8px 24px 0px;
}

.container {
	display: grid;
	width: 90%;
	height: 95%;
	background: #fff;
}
.buttons {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.colors {
	display: inline-grid;
	margin-top: 8%;
	margin-bottom: 8%;
}
.colors button {
	width: 40%;
	margin: auto;
	background: #f9d949;
	border: none;
	margin-bottom: 3%;
	padding: 2%;
	border-radius: 4rem;
	box-shadow: 0px 5px 15px -3px;
	transition: 0.3s;
	letter-spacing: 1px;
	font-weight: 800;
}

.colors input {
	width: 40%;
	padding: 1%;
	margin: auto;
	background: #f9d949;
	border-radius: 4rem;
	box-shadow: 0px 5px 15px -3px;
	transition: 0.3s;
}

.actions {
	display: inline-grid;
	margin-top: 8%;
	margin-bottom: 8%;
}
.actions button {
	width: 40%;
	margin: auto;
	background: #f9d949;
	border: none;
	margin-bottom: 3%;
	padding: 2%;
	border-radius: 4rem;
	box-shadow: 0px 5px 15px -3px;
	transition: 0.3s;
	letter-spacing: 1px;
	font-weight: 800;
}
h2 {
	font-size: 0.7rem;
	color: #fff;
	margin-top: 0;
}
.slider {
	/* -webkit-appearance: none; */
	border-radius: 4rem;
	background: #fff;
	cursor: pointer;
	outline: none;
	opacity: 0.7;
	transition: 0.2s;
	margin-top: 5%;
}
.slider:hover {
	opacity: 1;
}
footer p {
	text-align: center;
	margin-bottom: 0;
	font-size: 0.8rem;
}
